<header th:fragment="header">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav">
                <li th:classappend="${ #httpServletRequest !=null ? #httpServletRequest.getRequestURI().contains('/refresh-load'): false ? 'active':''}">
                    <a class="nav-link" th:href="@{/refresh-load}">Load</a>
                </li>
                <li th:classappend="${ #httpServletRequest !=null ? #httpServletRequest.getRequestURI().contains('/training'): false ? 'active':''}">
                  <a class="nav-link" th:href="@{/training}">Training</a>
                </li>
                <li th:classappend="${ #httpServletRequest !=null ? #httpServletRequest.getRequestURI().contains('/statistic'): false ? 'active':''}">
                    <a class="nav-link" th:href="@{/statistic}">Statistic</a>
                </li>
                <li th:classappend="${ #httpServletRequest !=null ? #httpServletRequest.getRequestURI().contains('/chart'): false ? 'active':''}">
                  <a class="nav-link" th:href="@{/chart}">Chart</a>
                </li>
                <li th:classappend="${ #httpServletRequest !=null ? #httpServletRequest.getRequestURI().contains('/chart'): false ? 'active':''}">
                    <a class="nav-link" th:href="@{/chart}">ChOutcome</a>
                </li>

            </ul>
        </div>
        <a class="navbar-brand" th:href="@{/exit}">
            Exit
        </a>
    </nav>
</header>
