<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>


<!--<div class="pre-scrollable"> -->
<div style="max-height:750px;overflow-y:scroll">


    <table class="table table-striped table-bordered ">
        <tr>
            <th>
                <div th:if="${isAscending}">
                    <a th:href="'/training?sortField=id&sortDirection=DESC'">Id</a>
                </div>
                <div th:unless="${isAscending}">"
                    <a th:href="'/training?sortField=id&sortDirection=ASC'">Id</a>
                </div>
                <div>
                    <form method="get" th:action="@{/training}">
                        <div class="form-group">
                            <input type="number" name="filterId" th:value="${filterId}" size="10" >
                        </div>
                    </form>
                </div>
            </th>
            <th>date</th>
            <th>distance</th>
            <th>time</th>
            <th>speed</th>
            <th>speedForOneKm</th>
            <th>competition</th>
            <th>mountainCompetition</th>

            <th>
                <div th:if="${isAscending}">
                    <a th:href="'/training?sortField=description&sortDirection=DESC'">Description</a>
                </div>
                <div th:unless="${isAscending}">"
                    <a th:href="'/training?sortField=description&sortDirection=ASC'">Description</a>
                </div>
                <form method="get" th:action="@{/training}">
                    <div class="form-group">
                        <input type="description" name="filterDescription" th:value="${filterDescription}" size="20" >
                    </div>
                </form>
            </th>
            <th>
        </tr>
        <tr th:if="${#lists.isEmpty(trainingList)}">
            <td class="text-center" colspan="7">No Records found. Add some...!</td>
        </tr>



        <tr th:each="training : ${trainingList}">
            <td class="align-middle">
                <a th:href="'/training/' + ${training.id}">
                    <span th:text="${training.id}"></span>
                </a>
            </td>
            <td class="align-middle" th:text="${training.date}"></td>
            <td class="align-middle" th:text="${training.distance}"></td>
            <td class="align-middle" th:text="${training.time}"></td>
            <td class="align-middle" th:text="${training.speed}"></td>
            <td class="align-middle" th:text="${training.speedForOneKm}"></td>
            <td class="align-middle" th:text="${training.competition}"></td>
            <td class="align-middle" th:text="${training.mountainCompetition}"></td>
            <td class="align-middle" th:text="${training.description}"></td>
            <td class="align-middle text-center form-inline">
                <a th:href="'/training/delete/' + ${training.id}">&#9988;</a>
            </td>
        </tr>
    </table>


</div>


</body>
</html>
